.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  padding-left: 3em;
  overflow-x: hidden;
}

li{
  list-style: none;
  background-color: darkgrey;
  border: 1px solid #000;
  margin: 0 50px 0 50px;
  
}
li:after{
  background-color: #61dafb;
}
.tbutton{
  margin-left: 2em;

  color:tomato;
  border:2px solid #000;
  background-color: white;
  font-weight: 600;
}
.card{
 margin:2em;
border-radius: 0px !important;

}
.cart{
  margin:2em;
 border-radius: 0px !important; 
 
 }
 .card-title {
  border: 1px solid #000;
  background-color: tomato;
  color: #000;
 }
 .card-body{
  border: 1px solid #000;

 }
 ul{
  padding: 2px;
  padding-inline-start: 1px !important;
 }
 p{
  padding:0 4px 0 4px;
 }
 input.placeholder {
  text-align: center;
}
.datas{
  padding-left:3em;
}